<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div>
        <p>
          Hi, I'm Paul Muscat, a 24-year-old from Malta and a recent graduate from MCAST with a first-class honours in Multimedia Software Development.
          I'm passionate about both gaming and fitness, balancing my time between exploring new virtual worlds and hitting the gym.
          My background in multimedia software has fueled my enthusiasm for creating engaging digital experiences, and I'm excited to apply my skills in both game development and other multimedia projects.
        </p>
      </div>
    </div>
  </div>
</section>
